:root {
  --color-header: green;
  --color-background: white;
  --color_15: 39, 33, 30;
  --color_14: rgb(101, 86, 78);
  --color_18: 114, 117, 87;
  --color_27: 247, 247, 247;
}

body {
  margin: 0px;
  padding: 0px;
  min-width: 1200px;
  min-height: 70vh;
}

.margin_bottom_s1 {
  margin-bottom: 3vh;
}


.image_responsive {
  width: 100%;
  height: 100%;
}


.image {
  display: block;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  /* Cover the image */
  object-position: center;
  margin: auto;
  padding: 0;
}