/********************** BODY1 ********************/


/********************** BODY2 ********************/

/********************** BODY3 ********************/



/********************** BODY5 ********************/

.body5 {
    background-color: rgb(235, 193, 10) !important;
}

.body51 {
    height: 50vh;
}

.body52 {
    height: 50vh;
}


.body5_contactus {
    color: white;
    text-decoration: none;
    font-weight: bold;
}